* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(243, 243, 243);
    min-width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
   
}

header {
    background-color: blueviolet;
    padding: 10px;
    color: #fff;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}

main {
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.111);
    transition: all ease 1s;
    display: block;
    width: 60%;
    margin: 0 auto;
}

.modalCard {
    width: 70%;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.227);
    border: 2px solid rgb(162, 255, 22);
    bottom: -50%;
    display: block;
    margin: 0 auto;
    transform: translate( 0,20%);
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    
    transition: all ease 1s;
    display: block;
}
    
.title {
    text-align: center;
    padding-bottom: 10px;
}


.lineInput {
    display: flex;
    margin-bottom: 5px;
    flex-direction: column;

}



.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: 0;
    margin-bottom: 10px;
}

button {
    border: 0px;
    padding: 10px;
    outline: 0;
    background-color: blueviolet;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    transition: all ease 0.3s;
}

button:hover {
    background-color: rgb(90, 0, 174);
}

.content {
    margin-top: 15px;
    width: 60vw;
    display:flex;
    margin: 20px;
    justify-content:center ;
    align-items: center;
    
    
}

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
    background-color: #fff;
}

table th {
    background-color: rgb(230, 230, 230);
}

table th,
td {
    padding: 1px 5px;
    text-align: left;
}

table td img {
    width: 27px;
    margin: 1px;
    padding-right: 2px;

}

.buttonAcoes {
    width: 27px;
    margin: 1px;
    padding-right: px;
    border-radius: 5px;
    transition: all ease 0.5s;
}

.buttonAcoes:hover {
    width: 30px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.227)
}

.center {
    text-align: center;
}

.atualizar{
    background-color: rgb(121, 218, 57);
    transition: all ease 0.2s;
}

.atualizar:hover {
    width: 80px;
    background-color: rgb(26, 172, 0);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.227)
}

.cancelar{
    background-color: rgb(226, 76, 56);
    transition: all ease 0.2s;
}
.cancelar:hover {
    width: 80px;
    background-color: rgb(202, 56, 36);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.227)
}

.tabelaProduto{
    width: 1200px;
}